.grid {
    background-color: #f9f9f9;
    display: grid;
    max-width: 1200px;
    width: 98%;
    margin: 4px auto;
    grid-template-areas: "gridHeader gridHeader" "gridBanner gridBanner" "gridArticles gridLateral" "gridFooter gridFooter";
    grid-gap: .5rem;
    grid-template-columns: 3fr 1fr;
}

.gridHeader {
    grid-area: gridHeader;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.gridBanner {
    grid-area: gridBanner;
    background-image: url("../imgs/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    animation: moveUp 1.5s ease-in;
    position: relative;
    top: 0;
}

.gridArticles {
    grid-area: gridArticles;
    background-color: #d8d7d7;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(2, 49%);
    padding: 1rem;
}

.gridArticles__item:last-child {
    grid-column: span 2;
}

.gridLateral {
    grid-area: gridLateral;
    background-color: #d8d7d7;
    padding: 1rem;
}

.gridFooter {
    grid-area: gridFooter;
    background-color: #d8d7d7;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .grid {
        grid-template-areas: "gridHeader" "gridBanner" "gridArticles" " gridLateral" "gridFooter";
        grid-template-columns: 1fr;
    }
}


/*------ MOBILE ------------*/

@media (max-width: 480px) {
    .gridHeader {
        flex-direction: column;
    }
    .gridArticles {
        grid-template-columns: repeat(1, 99%);
    }
    .gridArticles__item:last-child {
        grid-column: initial;
    }
}