body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 1200px;
    width: 98%;
    margin: 4px auto;
}

.wrapperFlex {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.wrapperFlex--twoBlocks {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
}

.wrapperFlexFooter {
    background-color: #d8d7d7;
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    text-indent: -9999px;
    display: block;
    text-decoration: none;
    height: 66px;
    width: 70px;
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo:hover {
    opacity: .7;
}

.navigation {
    text-align: center;
}

.navLink {
    text-decoration: none;
    margin: 0 3.5vw;
    color: #979797;
}

.navLink:hover {
    color: #797979;
    text-decoration: underline;
}

i {
    margin: 0 4px;
}

.socialLink {
    text-indent: -9999px;
    text-decoration: none;
    color: #979797;
}

.socialLink:hover {
    color: #797979;
}

.socialLink i {
    display: inline;
    width: 16px;
    font-size: 18px;
}

.claim {
    color: #e7997c;
    margin: 0 auto;
    padding: 36px 0 68px 0;
    text-align: center;
    width: 88%;
    position: relative;
}

.claim::after {
    content: ' ';
    background-color: #d8d7d7;
    display: block;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.bannerContent {
    background-image: url("../imgs/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    margin-top: 74px;
}

.block {
    background-color: #d8d7d7;
    flex: 1;
    padding: 12px;
    box-sizing: content-box;
}

.block--big {
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}

.block--big .block__element {
    flex: none;
    width: 47%;
    margin: 0 0.5% 1% 0.5%;
    box-sizing: content-box;
}

.block--big .block__element:last-child {
    flex: none;
    width: 97%;
}

.textFooter {
    color: #535353;
    text-align: center;
    background-color: #f5f1f1;
    font-size: 11px;
    width: 96%;
    margin: 0;
    padding: 12px 0;
}


/*--------------- TITLES & TEXT --------------*/

.title_2 {
    margin: 0;
    position: relative;
    z-index: 1;
    opacity: 0.7;
    font-family: Georgia, serif;
}

.title_3 {
    text-align: center;
}

.textBody {
    font-size: 12px;
    color: #1d1d1d;
}

.textCenter {
    text-align: center;
}


/*------ TABLET ------------*/

@media (max-width: 768px) {
    .wrapperFlex--twoBlocks {
        flex-direction: column;
    }
    .block--big {
        margin-bottom: 4px;
    }
    .navLink {
        margin: 0 1.5vw;
    }
}


/*------ MOBILE ------------*/

@media (max-width: 480px) {
    header {
        position: relative;
        top: inherit;
    }
    .wrapperFlex {
        flex-direction: column;
    }
    .navigation {
        margin: 12px 0;
    }
    .navLink {
        margin: 6px 12px 18px 12px;
        display: block;
    }
    .bannerContent {
        padding-top: 40px;
    }
    .block--big {
        flex-direction: column;
        align-items: center;
    }
    .block--big .block__element {
        width: 96%;
        margin: 0 0 2% 0;
    }
    .block--big .block__element:last-child {
        width: 96%;
    }
}